<?xml version="1.0" encoding="UTF-8"?>
<launch>
    

    <!-- pointclouds filtering -->
    <node name="scan2localmap_node_simulation_2" pkg="scan" type="scan2localmap_node_simulation_2" required="true" output="screen" />

    <!-- Multi-Object Tracking onde -->
    <node name="path_finding_node_simulation_2" pkg="scan" type="path_finding_node_simulation_2" required="true" output="screen" />

   
</launch>